
body{
    padding : 0;
    margin : 0;
    background-color: olive;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    height: 7vh;
    
}
.msg-container{
    
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #1b5e20;
    padding: 10px 0;
    border: 2px solid  #388e3c;
}
.digi-msg{
    display: inline-block;
    padding-left: 100%;
    font-size: 24px;
    color: #ffffff;
    animation: scroll-left 20s linear infinite;

}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translate(-100%) ;
    }
}
.container{
    margin-top: 10%;
    margin-left: 40%
    
}
#state{
    width: 36vh;
    height: 5vh;
}

#division{
    width: 36vh;
    height: 5vh;

}

#para{
    margin-top: 18px;
}
#period{
    margin-top: -27px;
}
#Startdate{
     width: 17vh;
     height: 5vh;
}
#Enddate{
     width: 17vh;
     height: 5vh;
}
#Submit{
    border-radius: 2%;
    height: 5vh;
    width: 36vh;
    margin-top: 21px;
}

  
